services:
  frontend:
    container_name: frontend
    build: ./frontend
    ports:
      - "${FRONTEND_PORT:-3000}:80"
    environment:
      - REACT_APP_DATA_REFRESH_INTERVAL_MINUTES=${REACT_APP_DATA_REFRESH_INTERVAL_MINUTES:-60}
      - REACT_APP_GRID_COLUMNS=${REACT_APP_GRID_COLUMNS:-1}
      - CUSTOM_CSS_PATH=${CUSTOM_CSS_PATH}
      - DATA_REFRESH_INTERVAL_MINUTES=${DATA_REFRESH_INTERVAL_MINUTES:-60}
      - GRID_COLUMNS=${GRID_COLUMNS:-1}
    volumes:
      # Optional: Mount your custom assets into the /app/data directory.
      # They will be linked to the web server static directory if present.
      # `custom.css` specifically will be injected if present.
      # Update the path on the left to your custom location
      - ./frontend/public/app/data:/app/data:ro
    depends_on:
      - backend
  backend:
    container_name: backend
    build: ./backend
    expose:
      - "5100"
    environment:
      - STERN_USERNAME=${STERN_USERNAME}
      - STERN_PASSWORD=${STERN_PASSWORD}
      - DEFAULT_COUNTRY=${DEFAULT_COUNTRY}
      - DEFAULT_STATE=${DEFAULT_STATE}
      - DEFAULT_STATE_NAME=${DEFAULT_STATE_NAME}
      - DEFAULT_CONTINENT=${DEFAULT_CONTINENT}
