services:
  frontend:
    container_name: frontend
    build:
      context: ./frontend
      args:
        - VITE_DATA_REFRESH_INTERVAL_MINUTES=${VITE_DATA_REFRESH_INTERVAL_MINUTES:-60}
        - VITE_GRID_COLUMNS=${VITE_GRID_COLUMNS:-1}
        # Optional argument to disable auto-scroll
        - VITE_DISABLE_AUTOSCROLL=${VITE_DISABLE_AUTOSCROLL:-false}
    ports:
      - "${FRONTEND_PORT:-3000}:80"
    environment:
      - CUSTOM_CSS_PATH=${CUSTOM_CSS_PATH}
    volumes:
      # Optional: Mount your custom assets into the /app/data directory.
      # They will be linked to the web server static directory if present.
      # `custom.css` specifically will be injected if present.
      # Update the path on the left to your custom location
      - ./frontend/public/app/data:/app/data:ro
    depends_on:
      - backend
  backend:
    container_name: backend
    build: ./backend
    expose:
      - "5100"
    environment:
      - STERN_USERNAME=${STERN_USERNAME}
      - STERN_PASSWORD=${STERN_PASSWORD}
      - DEFAULT_COUNTRY=${DEFAULT_COUNTRY}
      - DEFAULT_STATE=${DEFAULT_STATE}
      - DEFAULT_STATE_NAME=${DEFAULT_STATE_NAME}
      - DEFAULT_CONTINENT=${DEFAULT_CONTINENT}
